@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
:root {
  --text-color: #451284;
  --text-color-light: hsl(217°, 16%, 30%);
}

body {
  color: var(--text-color-light);
}
.activeIndex {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 5px;
  background-color: #342511;
  top: -5px;
}



